# Liabrary

In [3]:
import pandas as pd
import numpy as np

# Dataframe

In [4]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\pricerunner_aggregate.csv")

In [5]:
df

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
...,...,...,...,...,...,...,...
35306,47350,smeg fab28 60cm retro style right hand hinge f...,59,47517,Smeg FAB28 Cream,2623,Fridges
35307,47351,smeg fab28 60cm retro style left hand hinge fr...,59,47518,Smeg FAB28 Red,2623,Fridges
35308,47352,smeg fab28 60cm retro style left hand hinge fr...,59,47519,Smeg FAB28 Pink,2623,Fridges
35309,47355,candy 60cm built under larder fridge cru160nek,125,47524,Candy CRU16.0,2623,Fridges
35310,47358,neff k4316x7gb built under larder fridge,179,47525,Neff K4316,2623,Fridges

# Observation

Dependent Column - Product Title
Independent Column - Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label

In [6]:
Continuous_Column=['Product ID']
Categorical_Column=['Product Title','Merchant ID','Cluster ID','Cluster Label','Category ID','Category Label']

# Data Cleaning

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35311 entries, 0 to 35310
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product ID       35311 non-null  int64
 1   Product Title    35311 non-null  object
 2    Merchant ID     35311 non-null  int64
 3    Cluster ID      35311 non-null  int64
 4    Cluster Label   35311 non-null  object
 5    Category ID     35311 non-null  int64
 6    Category Label  35311 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.9+ MB

In [8]:
df.isnull().sum()

Product ID         0
Product Title      0
 Merchant ID       0
 Cluster ID        0
 Cluster Label     0
 Category ID       0
 Category Label    0
dtype: int64

In [9]:
df.duplicated().sum()

0

# Statistical analysis
Continuous - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

In [10]:
number_df=df.select_dtypes(inplace=True)
corr_m=number_df.corr()
corr_m

TypeError: DataFrame.select_dtypes() got an unexpected keyword argument 'inplace'

In [ ]:
Continuous_Column=['Product ID']
Categorical_Column=['Product Title','Merchant ID','Cluster ID','Cluster Label','Category ID','Category Label']

In [ ]:
def hypothesis_testing(df,Continuous_Column=[],Categorical_Column=[],sample_rate=20,sample_frac=0.05):
    df=df
    # central limit theoram
    onecontinuouscolumn_Result={}
    hypothesis_df=pd.DataFrame(columns=df.columns,index=df.columns)
    if Continuous_Column:
        sample_size=int(sample_rate*len(df[Continuous_Column[0]]))
        for column in Continuous_Column:
            population=df[column].values
            population_mean=population.mean()
            sample_mean=[]
            for i in range(40):
                sample=np.random.choice(population,sample_size)
                sample_mean.append(sample.mean())
            onecontinuouscolumn_Result[column]={
                "Population Mean":population_mean,
                "Sample Mean":{np.mean(sample_mean)}
                                                }
    return onecontinuouscolumn_Result,hypothesis_df